* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  padding-top: 30px;
  color: rgb(65, 64, 64);   
}

main {
  display: flex;
  justify-content: center;
}

main form {
  display: flex;
  flex-direction: column;

  width: 600px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px gray;
}

main form label {
  margin-bottom: 5px;
}

main form input,
main form textarea {
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0 5px;
  font-size: 16px;
  resize: none;
  color:rgb(65, 64, 64);
  padding: 5px;
}

main form div {
  display: flex;
  justify-content: flex-end;
}

main form div button {
  width: 100px;
  margin-top: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background: rgb(31, 148, 31);
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  justify-self: flex-end;

  transition: filter 0.2s;
}

main form div button:hover {
  filter: brightness(0.9);
}