<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Task</title>
  <link rel="stylesheet" href="/stylesheets/addUpdateTaskPages.css">
</head>
<body>
  <main>
    <form method="POST" action="/add_task">
      <label for="title">Título</label>
      <input type="text" name="title" required>
      <label for="description">Descrição</label>
      <textarea name="description" cols="30" rows="15" required></textarea>
      <div>
        <button type="submit">Adicionar</button>
      </div>
    </form>
  </main>
</body>
</html>